* {
    margin: 0;
}

body {
    background-color: azure;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.genius {
    display: grid;
    grid-template-areas: 'blue yellow' 'red green';
    grid-gap: 10px;
    border: 1px solid rgb(114, 114, 114);
    background-color: rgb(48, 48, 48);
    border-radius: 100%;
    margin-top: 10pt;
    width: 700px;
    height: 700px;
}

.blue {
    background-color: rgb(0, 91, 151);
    grid-area: blue;
    border-top-left-radius: 100%;
    
}

.yellow {
    background-color: rgb(150, 150, 18);
    grid-area: yellow;
    border-top-right-radius: 100%;
    
}

.green {
    background-color: rgb(6, 110, 6);
    grid-area: green;
    border-bottom-right-radius: 100%;
    
}

.red {
    background-color: rgb(131, 14, 14);
    grid-area: red;
    border-bottom-left-radius: 100%;
    
}

.selected {
    opacity: 0.8;
}